<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ENROLLMENT_System.Properties.Settings.db_enrollmentConnectionString"
            connectionString="Data Source=DESKTOP-PPQMVH3\SQLEXPRESS;Initial Catalog=db_enrollment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ENROLLMENT_System.Properties.Settings.db_enrollmentConnectionString1"
            connectionString="Data Source=LAPTOP-1MVDPJFL\SQLEXPRESS;Initial Catalog=db_enrollment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>